@{
    ViewData["Title"] = "Home Page";
}
@model string
<html>
    <head>
        <style>
        /* Загальні стилі */
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }

        h1 {
            color: #333;
            text-align: center;
        }

        .text-center {
            text-align: center;
        }

        /* Стилі для форми */
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px auto;
            width: 300px;
        }

        button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

            button:hover {
                background-color: #3e8e41;
            }

        /* Стилі для логу */
        .log {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 20px auto;
            width: 50%;
            overflow-y: scroll;
            height: 200px;
        }
        </style>
    </head>
    <body>
    <div class="text-center">
        <h1 class="display-4">Фільтри</h1>
        <form method="post">
            <button asp-controller="Home" asp-action="ViewMethods">Дії</button><br />
            <button asp-controller="Home" asp-action="ViewUser">Користувачі</button><br />
        </form>
        <p style="width:50%; margin:auto">@Model</p>
    </div>
    </body>
</html>
